body{
  background: #6C737E;
  color: #1A374D;
  font-family: Lora;
  font-size: 16px;
  font-weight: lighter;
}

h1{
  color: #1A374D;
  font-weight: 780;
  font-size: 30px;
}

h2{
  color: #406882;
  font-family: Lato;
  font-size: 14 px;
  font-weight: lighter;
}

a{
  font-family: 'Roboto',sans-serif;
  text-decoration: none;
  color: #6998AB ;
  font-weight: 700;
  font-size: 16px;
}

a:hover {
  color: #1A374D;
}
@media (max-width: 700px){
  .container {
    width: 500px;
  }
}
@media (max-width: 500px){
   .container {
    width: 300px;
  }

}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: #E8ECF1;
  padding: 40px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 70px;
  text-align: center;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #7393A7;
}
.list-inline i:hover {
  color: black;
}
.img-circle {
  border-radius: 48%;
  width: 140px;
}
#introduction p {
  margin-bottom: 35px;
}
